{% extends 'base/base_template.html' %}
{% load static %}

{% block extbasecss %}
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'tiangou:login' %}" method="post">
    {% csrf_token %}
        <div class="loginRight">
            <h1>
                老用户，请登录</h1>
            <dl>
                <dd>
                    <span>邮箱:</span><input type="text" name="email"></dd>
                <dd>
                    <span>密 码:</span><input type="password" name="password">
                    <p>{{ u_err }}</p>
                    <a href="#">忘记密码？</a></dd>
                <dt>
                    <input type="submit" style="background: url({% static 'img/dl.png' %}) no-repeat"><p>{{ p_err }}</p>
                </dt>
            </dl>
        </div>

        </div>
    </form>
{% endblock %}


{% block extbasejs %}
    <script src="{% static 'login/js/register.js' %}"></script>
{% endblock %}